@import "./reset/reset";
@import "./variables/vars";

body {
  font-family: "Roboto", sans-serif;
}

header {
  background: nth($colors, 3);
}

.card {
  .card-title {
    font-size: 22px;
    font-weight: 500;
  }
  .card-text {
    font-size: 20px;
    font-weight: 700;
  }
}
